
* {
    box-sizing: border-box;
}

:root{
    --prime: #E4E4DE;
    --sec: #C4C5BA;
    --tert: #595f39;
    --dark: #1b1b1b;   
}

body {
    margin: 0;
    padding: 0;
    background-color:var(--sec);
    color: var(--dark);
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color:var(--dark);
    color: var(--prime);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}

nav a {
    color: var(--sec);
    padding: 2px 6px;
    margin-right: 7px;
    background-image: linear-gradient(270deg, var(--tert)0%, var(--tert)100%);
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 22px;

}

nav a:hover {
    background-size: 100% 100%;
    color: var(--prime);
}


main {
    margin-top: 20px;
    margin-bottom: 45px;
  }

.banner {
    background:var(--tert);
    background-image: url("../images/Untitled-2.jpg"), linear-gradient(180deg, var(--sec) 0%, var(--prime) 100%);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 30vh;
    color: var(--prime);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.banner div {
    flex: 0 0 90%
}

.h2 {
    font-size: 75px;
}

.page-wrap {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto; 
}

.section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}


.section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--tert);
    font-size: 4vw;
    line-height: 1.1;
}

.section > div {
    flex: 0 0 77%;
}

.section p {
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid var(--tert);
    background-color: var(--dark);
    color: var(--prime);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
  }

  .flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
  }

  .flex-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .flex-item div {
    background-color: var(--secondary);
    padding: 8px 10px;
  }
  
  .flex-item h3 {
    font-size: 1.6rem;
  }

  .contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  .contact address a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--dark) 0%, var(--dark) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }
  
  .contact address a:hover {
    background-size: 100% 88%;
    color: var(--tert);
  }

  .resources address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .resources address a {
    color: var(--tertiary);
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--dark) 0%, var(--dark) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }

  .resources address a:hover {
    background-size: 100% 88%;
    color: var(--tert);
  }

/* work images*/
.PCA {
    background-image: url("../images/patient-care-assistant-duties.jpg");
}

.HCW {
   background-image: url("../images/1140-nurse-wheelchair-home-care-health.jpg"); 
}

.cashier {
    background-image: url("../images/TotalMerchantSupply-163489-First-Time-Cashiers-image1.jpg");
}

.web {
    background-image: url("../images/full-stack-web-dev.jpg");
}